/* general ---------------*/
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #092635;
}

a {
    color: white;
    font-family: "Agency FB", sans-serif;
}

p, li, h1 {
    color: white;
}

h1 {
    text-align: center;
    font-family: "Agency FB", sans-serif;
}
/* header ---------------------*/
/* nav ---------------*/
nav {
    height: 75px;
    background-color: #1B4242;
}

.rightNav {
    float: right;
    width: 255px;
}

.leftNav {
    float: left;
}

nav button {
    height: 75px;
    width: 125px;
    border: solid 0;
    background-color: #1B4242;
    color: white;
    font-family: "Agency FB", sans-serif;
    font-size: 20px;
}

.leftNav > a{
    font-weight: bold;
    font-size: 30px;
}

nav a:hover, nav button:hover {
    text-decoration: none;
    background-color: #5C8374;
    cursor: pointer;
}

nav button i{
    transform: rotate(0);
    transition: .3s;
}

nav button:hover i{
    transform: rotate(180deg);
    transition: .3s;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #1B4242;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    width: 125px;
    z-index: 1;
}

.dropdown-content a {
    display: block;
    padding: 10px;
    font-size: 18px;
    text-decoration: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}
/* nav end ------------*/
/* header end ---------------*/
/* main ---------------------*/
.introduction {
    border: solid;
    text-align: center;
    margin: 20px 0 0 0;
}

.recentPosts {
    border: solid;
    margin: auto;
    width: 50vw;
}

.projects {
    border: solid;
    text-align: center;
}

/* carousel -----------------*/
.slideshow-container {
    max-width: 50vw;
    position: relative;
    margin: auto;
}

.slideshow-container img {
    width: 50vw;
    height: 35vw;
}

.slide {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -22px;
    padding: 16px;
    color: black;
    transition: 0.6s ease;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 0;
    border-radius: 0 3px 3px 0;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.text {
    color: black;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}
